@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ededed;
}

html,
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  height: 100dvh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-neon-green {
    color: #00ff9d;
    text-shadow: 0 0 10px rgba(0, 255, 157, 0.5);
  }

  .text-neon-red {
    color: #ff0055;
    text-shadow: 0 0 10px rgba(255, 0, 85, 0.5);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll linear infinite;
}

.animate-scroll-reverse {
  animation: scroll-reverse linear infinite;
}

.hover\:pause:hover {
  animation-play-state: paused;
}